<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% include 'Includes/header.twig' %}
  </head>
  <body>
    {% include 'Includes/menu.twig' %}
    {{ block('body') }}
    {% include 'Includes/footer.twig' %}
  </body>
</html>
