{% extends "Templates/layout.twig" %}
{% set title = "Minecraft Chunk Calculator" %}
{% block body %}
<link rel="stylesheet" href="/assets/css/tools/minecraft-chunk-calculator.css">
<div class="container-fluid" id="content">    
    <div class="row justify-content-center">        
        <div class="col-lg-8">
            <h1>Minecraft Chunk Calculator</h1>
            <p>Will Calculate the MCA file for a set of coordinates, chunks or given region</p>
            <div class="card bg-light mb-3">
                <div class="card-header"><strong>Coordinates</strong></div>
                <div class="card-body">
                    <div class="form-inline">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">X</div>
                            </div>
                            <input type="number" class="form-control" id="coX" placeholder="0">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Y</div>
                            </div>
                            <input type="number" class="form-control" id="coY" placeholder="0">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Z</div>
                            </div>
                            <input type="number" class="form-control" id="coZ" placeholder="0">
                        </div>                    
                    </div>
                </div>
            </div>           
            <div class="card bg-light mb-3">
                <div class="card-header"><strong>Chunk</strong></div>
                <div class="card-body">
                    <div class="form-inline">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">X</div>
                            </div>
                            <input type="number" class="form-control" id="chunkX" placeholder="0">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Y</div>
                            </div>
                            <input type="number" class="form-control" id="chunkY" placeholder="0">
                        </div>
                            <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Z</div>
                            </div>
                            <input type="number" class="form-control" id="chunkZ" placeholder="0">
                        </div>
                    </div>
                </div>                
            </div>     
            <div class="card bg-light mb-3">
                <div class="card-header text-white bg-primary"><strong>Region File</strong></div>
                <div class="card-body">
                    <div class="form-inline">
                        <div class="input-group mx-auto">
                            <label><strong>Region File:</strong></label>
                            <input type="text" id="regionFile" class="form-control mx-sm-3" value="r.0.0.mca">
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</div>
<script>
    let coX = $('#coX');
    let coY = $('#coY');
    let coZ = $('#coZ');

    let chunkX = $('#chunkX');
    let chunkY = $('#chunkY');
    let chunkZ = $('#chunkZ');

    $('#coX, #coY, #coZ').on('change', function(event) {
        
        if(coX.val() != "" && coY.val() != "" && coZ.val() != "") {
            chunkX.val(Math.floor(coX.val() / 16));
            chunkY.val(Math.floor(coY.val() / 16));
            chunkZ.val(Math.floor(coZ.val() / 16));

            let mcaX = Math.floor(chunkX.val() / 32)
            let mcaZ = Math.floor(chunkZ.val() / 32)
            let mca = "r." + mcaX + "." + mcaZ + ".mca";

            $('#regionFile').val(mca);
        }
    });

    $('#chunkX, #chunkY, #chunkZ').on('change', function(event) {
        if(chunkX.val() != "" && chunkY.val() != "" && chunkZ.val() != "") {
            let mcaX = Math.floor(chunkX.val() / 32)
            let mcaZ = Math.floor(chunkZ.val() / 32)
            let mca = "r." + mcaX + "." + mcaZ + ".mca";

            $('#regionFile').val(mca);
        }
    });    
</script>
{% endblock %}
